
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, 'Times New Roman';
    scrollbar-width:thin;  
    scrollbar-color: #554e9a #9d9fe9; 
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background-color: #554e9a;
    background: #554e9a;
}

body::-webkit-scrollbar-thumb {
    background-color: #9d9fe9;
    background: #554e9a;
    border-radius: 20px;
}
body::-webkit-scrollbar {
    scrollbar-width:thin; 
    background: #554e9a;
}

body::-webkit-scrollbar-track {
    background-color: #9d9fe9;
}

body::-webkit-scrollbar-thumb {
    /* background-color: #554e9a; */
    border-radius: 20px;
}

body {
    display: flex;
}

.surgindo{
    position: fixed;
    display: block;
    top: -5%;
    right: 0;
    transform: rotate(180deg);
    z-index: 1;
    width: 5%;
    transition: 2s;
}

.surgindo:hover{
    top: -15%;
    transition: all .2s ease-in-out;
}

ul {
    list-style: none;
    /* list-style-image: url(''); */
}

a{
    text-decoration: none;
    color:#fff;
}


/* MENU LATERAL */
.menuLateral {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20vw;
    background-color: #554e9a;
    color: #fefefe;
    position: fixed;
    
}

.menuLateral img{
    margin-top: 5%;
    width: 100%;
}

.apresentacaoCliente{
    margin-top: 5%;
    font-size: 1.2rem;
    text-align: center;
}

.listaMenuLateral {
    margin: 15% 0 0 10%;
    font-size: 18px;
}



.subItems{
    margin-bottom: 8%;   
    transition: 0.1s;
}

.subItems:hover{
    cursor: pointer;
    transform: scale(1);
    font-weight: bold;
    transition: 0.1s;
    
}

.subItems:after{
    content: " <";
    visibility: hidden;
}

.subItems:hover:after{
    visibility: visible;
    transform: scaleX(1);
}

.linkAtivo{
    font-weight: bold;
    margin-bottom: 8%; 
}

.linkAtivo::after{
    content: " <";
    visibility: hidden;
    visibility: visible;
    transform: scaleX(1);
}

.subMenu{
    margin-left:15%;
}


.rodape{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.rodape img{
    width: 12%;
}


.rodape img:hover{
    cursor: pointer;
}

.copyright{
    margin-top: 3%;
    text-align: center;
}
/* FINAL - MENU LATERAL */


/* CORPO */
/* CARD */

.corRoxa{
    color:#554e9a;
}

.corBranca{
    color: #fff;
}

.preto{
    color: #555;
}

.primeiraCor{
    background-color: #9295eb;
}

.segundaCor{
    background-color: #f2f6fa;
}


.corpo{
    width: 80vw;
    margin-left: 20vw;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.card2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* CARD 1 - PQ SKINS? */

.imagemCard1{
    background-image: url('../assets/imgs/skinsLol.jpg');
    background-size: cover;
    background-position: center;   
}

.opaca{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);   
}

.texto{
    width: 50%;
}

.tituloCard{
    margin-bottom: 2%;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.textoCard{
    font-size: 2rem;
    font-weight: bold;
    text-align: justify;
    margin: 0 5%;
}

.skinCarrosel{
    width: 45%;
    height: 80%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    transition:ease-in-out 0.5s;
}

/* FIM - CARD 1 - PQ SKINS? */


/* CARD 2 - EXEMPLOS */
.imgApresentacao{
    margin-top: 2%;
    width: 50%;
}



/* FIM CARD2 */

/* CARD 3 */

.alinhamentoCorpo{
    height: 100%;
    width: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
}


hr{
    width: 100%;
    background-color:#554e9a;
    transform: rotate(90deg);
}

.imagemCard3{
    background-image: url('../assets/imgs/onrnSabugueiro.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}

.opacaCard3{
    display:flex;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    
    
    backdrop-filter: blur(5px);  
}

/* CARD 4 */

.cardGrafico{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 100vh;   
}

.cardGrafico .tituloCard{
    margin-top: 3%;
}


.myChartJs{
    
    display: flex;
    justify-content: center;
    width: 90%;
    /* height: 100%; */
}

