* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, 'Times New Roman';
    scrollbar-width: thin;
    scrollbar-color: #554e9a #9d9fe9;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background-color: #554e9a;
    background: #554e9a;
}

body::-webkit-scrollbar-thumb {
    background-color: #9d9fe9;
    background: #554e9a;
    border-radius: 20px;
}

body::-webkit-scrollbar {
    scrollbar-width: thin;
    background: #554e9a;
}

body::-webkit-scrollbar-track {
    background-color: #9d9fe9;
}

body::-webkit-scrollbar-thumb {
    /* background-color: #554e9a; */
    border-radius: 20px;
}

body {
    display: flex;
}

/* EASTER EGG */

.surgindo {
    position: fixed;
    display: block;
    top: -5%;
    right: 0;
    transform: rotate(180deg);
    z-index: 1;
    width: 5%;
    transition: 2s;
}

.surgindo:hover {
    top: -15%;
    transition: all .2s ease-in-out;
}

/* FIM EASTER EGG */

/* GERAIS */

ul {
    list-style: none;
    /* list-style-image: url(''); */
}

a {
    text-decoration: none;
    color: #fff;
}

.corRoxa {
    color: #554e9a;
}

.corBranca {
    color: #fff;
}

.preto {
    color: #555;
}

.primeiraCor {
    background-color: #9295eb;
}

.segundaCor {
    background-color: #f2f6fa;
}

.tituloCard {
    margin-bottom: 2%;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.textoCard {
    font-size: 2rem;
    font-weight: bold;
    text-align: justify;
    margin: 0 5%;

}


/* FIM GERAIS */



/* MENU LATERAL */
.menuLateral {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20vw;
    background-color: #554e9a;
    color: #fefefe;
    position: fixed;

}

.menuLateral img {
    margin-top: 5%;
    width: 100%;
}

.apresentacaoCliente {
    margin-top: 5%;
    font-size: 1.2rem;
    text-align: center;
}

.listaMenuLateral {
    margin: 15% 0 0 10%;
    font-size: 18px;
}



.subItems {
    margin-bottom: 8%;
    transition: 0.1s;
}

.subItems:hover {
    cursor: pointer;
    transform: scale(1);
    font-weight: bold;
    transition: 0.1s;

}

.subItems:after {
    content: " <";
    visibility: hidden;
}

.subItems:hover:after {
    visibility: visible;
    transform: scaleX(1);
}

.linkAtivo {
    font-weight: bold;
    margin-bottom: 8%;
}

.linkAtivo::after {
    content: " <";
    visibility: hidden;
    visibility: visible;
    transform: scaleX(1);
}

.subMenu {
    margin-left: 15%;
}


.rodape {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.rodape img {
    width: 12%;
}


.rodape img:hover {
    cursor: pointer;
}

.copyright {
    margin-top: 3%;
    text-align: center;
}

/* FINAL - MENU LATERAL */


/* CORPO */

.corpo {
    width: 80vw;
    margin-left: 20vw;
}

/* FIM CORPO */


/* CARDS*/


.card2,
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.card {
    flex-direction: column;
}

/* CARD 1 - PQ SKINS? */

.imagemCard1 {
    background-image: url('../assets/imgs/skinsLol.jpg');
    background-size: cover;
    background-position: center;
}

.opaca {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
}

.texto {
    width: 50%;
}

.skinCarrosel {
    width: 45%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-in-out 0.5s;
}

/* FIM CARD 1 - PQ SKINS? */


/* CARD 2 - DEFINIÇÃO */
.imgApresentacao {
    background-image: url("../assets/imgs/exemploDefinicao.jpg");
    margin-top: 2%;
    margin-bottom: 1%;
    width: 80%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* FIM CARD2 */

/* CARD 3 - MAIS EXEMPLOS */

.imgExemplos {
    width: 80%;
    height: 90%;
    padding: 5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
    margin-bottom: 1%;
}


/* FIM CARD 3 - MAIS EXEMPLOS */

/* CARD 4 FINANCEIRO */

.alinhamentoCorpo {
    height: 100%;
    width: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
}


hr {
    width: 100%;
    background-color: #554e9a;
    transform: rotate(90deg);
}

.imagemCardFinanceiro {
    background-image: url('../assets/imgs/onrnSabugueiro.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}

.opacaCardFinanceiro {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;


    backdrop-filter: blur(5px);
}

/* FIM CARD 4 FINANCEIRO */

/* CARD 5 GRÁFICOS */

.cardGrafico {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.cardGrafico .tituloCard {
    margin-top: 3%;
}


.myChartJs {

    display: flex;
    justify-content: center;
    width: 90%;
    /* height: 100%; */
}

/* FIM CARD 5 GRÁFICOS */

/* CARD 6 ESCOLHA A SUA */


.corpoEscolha {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.div_selects {
    height: 50%;
}

select {
    color: #554e9a;
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 2%;
    border: 1px solid #9295eb;
    margin-bottom: 10%;
}

button {
    position: absolute;
    color: #fff;
    background-color: #554e9a;
    border-radius: 5px;
    border: 1px solid #554e9a;
    height: 7vh;
    padding: 1%;
    transition: 0.4s;
    font-size: 16px;
    margin-top: 20%;
}

button:hover {
    cursor: pointer;
    background-color: #493eb3;
    transition: 0.4s;
}

.imgSkinEscolhida {
    width: 50%;
    height: 90%;
    background-image: url('../assets/imgs/pontoInterrogacao.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: girar 4s linear infinite;
    animation-name: girar;
}

@keyframes girar {
    0%{
        transform: rotate3d(0, 0, 0, 0);
    }

    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

/* FIM CARD 6 ESCOLHA A SUA */